.todo {
    &__lists {
        margin-top: 60px;
        ul {
            list-style: none;
            padding: 10px;
            margin: 10px 0 0;
        }

        li {
            padding: 10px;
            border-bottom: 1px solid #ababab;
            margin: 0 auto 12px;
            max-width: 310px;
            position: relative;
            
            &:last-child {
                border: none;
            }
        }

    }
    &__list {
        box-shadow: 0px -1px 2px 0px #ababab;
    }

    &__cat {
        box-shadow: 0px 1px 2px 0px #ababab;
        span {
            padding: 10px 20px;
            display: inline-block;
            cursor: pointer;
            &.active {
                background: #f1f1f1;
            }
        }
    }


    &__check {

        &-wrap {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            bottom: 0;
            cursor: pointer;

            &:hover {
                background: #f1f1f1;
            }
        }

        &-icon {
            color: #000;
            position: absolute;
            right: 12px;
            width: 21px;
            height: 10px;
            border-bottom: solid 1px currentColor;
            border-left: solid 1px currentColor;
            transform: rotate(-45deg);
            top: 15px;
        }
    }
      
      
}