body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    // font-weight: 400;
    font-size: 17px;
    font-size: 1rem;
    line-height: 1.6;
    color: #333333;
}
* {
    box-sizing: border-box;
}
.todo {
    &__wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
    &__heading {
        text-align: center;
    }
}